body {
    background-color: aqua;
}

button[data-operator]{
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
border-radius: 10px;
}

button[data-operator]:hover {
    background-color: #45a049;
}
button[data-operator]:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10pc;
}

button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}